@media (max-width: 81.25em) {
  .primary__heading {
    font-size: 6rem;
  }

  .hero__heading-text {
    width: 100%;
  }

  .input__text {
    width: 65%;
  }

  .heading__text {
    width: 60%;
  }
}

@media (max-width: 75em) {
  .statictics__heading {
    font-size: 1.7rem;
  }

  .statistics__text {
    font-size: 1.3rem;
  }
}

@media (max-width: 64em) {
  .primary__heading {
    font-size: 5rem;
  }

  .hero__heading-text {
    font-size: 1.6rem;
  }

  .input__text {
    width: 50%;
  }

  .statistics__box {
    padding: 1.5rem 2rem;
  }

  /* .padding-sm {
    padding: 3rem 6rem;
  } */

  .hero__section {
    padding: 5rem 6rem 9rem;
  }
}

@media (max-width: 50em) {
  .main__nav {
    background-color: #3b3054;
    position: absolute;
    top: 8rem;

    left: 50%;
    transform: translateX(100%);
    width: 80vw;
    height: 39rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    opacity: 0;
    pointer-events: none;

    transition: all 0.5s;
    visibility: hidden;
    /* gap: 4rem; */

    /* background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(4.07742rem);
    backdrop-filter: blur(4.07742rem);
    z-index: 2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    /* z-index: 4; */
  }

  .nav-open .main__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(-50%);
    z-index: 4;
  }
  .nav__links {
    /* position: absolute; */
    /* top: 20%; */
    /* left: 50%; */
    /* 
    gap: 1rem;
    transform: translate(-50%, 0); */

    /* display: flex; */
    /* justify-content: center; */
    flex-direction: column;
    gap: 3rem;
    border-bottom: 1px solid #9e9aa7;
    padding-bottom: 3rem;
    width: 100%;

    /* display: none; */
  }
  .nav__link:link,
  .nav__link:visited,
  .cta__login,
  .cta__signup {
    color: #fff;
    font-size: 2rem;
  }
  .cta__box {
    margin-left: 0;
    flex-direction: column;
    padding-top: 3rem;
    gap: 2rem;
  }

  .header {
    justify-content: space-between;
  }

  .mobile-btn-nav {
    display: flex;
    z-index: 5;
  }
  .nav-open .open__icon {
    display: none;
  }

  .nav-open .close__icon {
    display: block;
  }

  .statistics__section {
    gap: 8rem;
  }

  .statistics__boxes {
    grid-template-columns: 1fr;
    gap: 8rem;
  }

  .statistics__box {
    align-items: center;
    text-align: center;
  }
  .statistics__box-1,
  .statistics__box-2 {
    margin-top: 0;
  }

  .statistics__boxes::after {
    content: "";
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0.7rem;
    height: 70%;
    background-color: #2acfcf;
  }

  .input__box {
    flex-direction: column;
  }

  .input__text {
    width: 100%;
  }

  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
  }

  .footer__img-box {
    grid-column: 1;
  }

  .hero__section {
    grid-template-columns: 1fr;
  }

  .hero__img-box {
    order: -1;
  }

  .hero__text-box {
    text-align: center;
  }

  .hero__cta {
    align-self: center;
  }

  .shorten__boxes {
    gap: 3rem;
  }
  .shorten__box {
    flex-direction: column;
    align-items: flex-start;
  }

  .main__link {
    width: 100%;
    border-bottom: 1px solid #9e9aa7;
    padding: 1rem 0.5rem;
  }
  .shortened__info {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    gap: 0;
  }

  .shortened__link {
    padding: 1rem 0.5rem;
  }
  .copy {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 43.75em) {
  .heading__text {
    width: 100%;
  }

  .boost__section {
    background: url(../images/bg-boost-mobile.svg), #3b3054;
  }
  .shorten__container {
    background: url(../images/bg-shorten-mobile.svg), #3b3054;
    /* background-size: cover; */
  }
}

@media (max-width: 31.25em) {
  .hero__section {
    padding: 5rem 4rem 9rem;
  }

  .primary__heading {
    font-size: 3.6rem;
  }
  .shorten,
  .clear {
    padding: 1rem 2rem;
  }

  .boost__heading {
    font-size: 2.3rem;
  }
}
